<template>
  <form class="box"
        @submit="login">
    <p v-if="isError" class="help is-danger">Adresse mél ou mot de passe incorrect</p>
    <div class="field">
      <label class="label">Adresse mél</label>
      <div class="control has-icons-left">
        <input v-bind:class="{'is-danger': isError}" v-model="email" required="required" class="input" type="email" placeholder="john.doe@email.com" value="">
        <span class="icon is-small is-left">
          <font-awesome-icon icon="envelope" />
        </span>
      </div>
    </div>
    <div class="field">
      <label class="label">Mot de passe</label>
      <div class="control">
        <input v-bind:class="{'is-danger': isError}" v-model="password" class="input" type="password" value="">
      </div>
    </div>
    <button type="submit" class="button is-primary is-fullwidth"><strong>Me connecter</strong></button>
  </form>
</template>

<script>
import constants from '@/constants'

export default {
  name: 'SignupForm',
  data: function () {
    return {
      email: '',
      password: '',
      isError: false
    }
  },
  props: ['toggleConnectionModal'],
  methods: {
    login: function (e) {
      e.preventDefault()
      let _this = this
      let data = {
        'email': _this.email,
        'password': _this.password
      }
      fetch(constants.backend_url + 'users/login', {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then(function (response) {
          if (response.status < 200 || response.status >= 300) {
            _this.isError = true
            return
          }
          response.json().then(function (data) {
            _this.$store.commit('setUserToken', data.user.token)
            _this.toggleConnectionModal(e)
          })
        })
        .catch(function (err) {
          console.log('Fetch Error :-S', err)
        })
    }
  }
}
</script>

<style scoped>
</style>
