<template>
  <div class="modal">
    <div class="modal-background" v-on:click="toggleConnectionModal"></div>
    <div class="modal-content">
      <LoginForm v-bind:toggleConnectionModal="toggleConnectionModal"/>
    </div>
    <button class="modal-close is-large" aria-label="close" v-on:click="toggleConnectionModal"></button>
  </div>
</template>

<script>
import LoginForm from './LoginForm'

export default {
  name: 'Login',
  props: ['toggleConnectionModal'],
  components: {
    LoginForm: LoginForm
  }
}
</script>

<style scoped>
</style>
