<template>
    <div class="container">
        <div class="columns">
            <div class="column">
                <DonationRecap />
            </div>
            <div v-if="isLogged" class="column">
                <SignupForm />
            </div>
            <div class="column">
                <Payment />
            </div>
        </div>
    </div>
</template>

<script>
import DonationRecap from '@/components/DonationRecap'
import Payment from '@/components/Payment'
import SignupForm from '@/components/User/SignupForm.vue'

export default {
  name: 'Checkout',
  components: {
    DonationRecap: DonationRecap,
    Payment: Payment,
    SignupForm: SignupForm
  },
  computed: {
    isLogged () {
      return this.$store.state.user.jwt === null
    }
  }
}
</script>

<style scoped>
.container {
    margin: 2rem;
}
</style>
