<template>
    <div id="donate-selection" class="container section">
        <div class="columns">
            <div class="column is-two-thirds">
                <div class="loading" v-if="loading">
                    <div class="box">
                      Chargement des organisations
                    </div>
                </div>

                <div v-if="error">
                    {{ error }}
                </div>

                <div v-if="organizations">
                  <WideCard v-for="organization in organizations"
                            :key="organization.id"
                            v-bind:content="organization" />
                </div>
            </div>
            <aside class="column">
                <DonationSelectorForm v-bind:organizations="organizations" />
            </aside>
        </div>
    </div>
</template>

<script>
import constants from '@/constants'
import WideCard from '@/components/cards/WideCard'
import DonationSelectorForm from '@/components/DonationSelectorForm/DonationSelectorForm'

export default {
  name: 'DonationSelector',
  data () {
    return {
      loading: false,
      organizations: null,
      error: null
    }
  },
  components: {
    'WideCard': WideCard,
    'DonationSelectorForm': DonationSelectorForm
  },
  created () {
    this.fetchOrganizations()
  },
  methods: {
    fetchOrganizations () {
      this.error = this.post = null
      this.loading = true
      let _this = this
      fetch(constants.backend_url + 'organizations')
        .then(function (response) {
          _this.loading = false
          if (response.status !== 200) {
            _this.error = 'Erreur de chargement'
          }
          response.json().then(function (data) {
            _this.organizations = data.organizations
          })
        })
        .catch(function (err) {
          console.log('Fetch Error :-S', err)
          _this.error = err
          _this.loading = false
        })
    }
  }
}
</script>

<style scoped>
</style>
