<template>
  <div id="my-donations" class="container section">
    <div class="columns">
      <div class="column">
        <div class="loading" v-if="loading">
            <div class="box">
              Chargement des dons
            </div>
        </div>
        <div v-if="error">
          {{ error }}
        </div>
        <div v-if="donations">
          <div class="box" v-for="don in donations"
                    :key="don.id"
                    v-bind:content="don" >
            <div class="columns board">
                <div class="column">
                    <div>
                        <img class="image" v-bind:src="don.receiver.logo" />
                    </div>
                </div>
                <div class="column">
                    <div>
                        <strong>{{don.receiver.name}}</strong>&nbsp; le {{new Date(don.date).toLocaleDateString('fr-FR')}}
                    </div>
                </div>
                <div class="column">
                    <div>
                        {{ don.amount }}€
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div id="pie-chart"></div>
    </div>
  </div>
</template>

<script>
import constants from '@/constants'

import Highcharts from 'highcharts/highstock'
import HighchartsMore from 'highcharts/highcharts-more'
import HighchartsDrilldown from 'highcharts/modules/drilldown'
import Highcharts3D from 'highcharts/highcharts-3d'
import Highmaps from 'highcharts/modules/map'
import HighchartsComponent from '@/components/graph/PieChart.vue'

HighchartsMore(Highcharts)
HighchartsDrilldown(Highcharts)
Highcharts3D(Highcharts)
Highmaps(Highcharts)

export default {
  name: 'MyDonations',
  data () {
    return {
      donations: null,
      chart: null,
      piedata: {
        chart: {
          type: 'pie',
          options3d: {
            enabled: true,
            alpha: 45,
            beta: 0
          }
        },
        title: {
          text: ''
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: false
            },
            showInLegend: true
          }
        },
        series: [{
          type: 'pie',
          name: 'pourcentage',
          data: []
        }]
      }
    }
  },
  created () {
    this.fetchDonations()
  },
  components: {
    HighchartsComponent
  },
  methods: {
    setData () {
      if (this.donations.length) {
        var total = 0
        var result = []
        for (var i = 0; i < this.donations.length; i++) {
          var oneDon = this.donations[i].amount
          var asso = this.donations[i].receiver.name
          if (result.length) {
            var repeat = false
            var flag = 0
            for (var j = 0; j < result.length; j++) {
              if (result[j][0] === asso) {
                repeat = true
                flag = j
                break
              }
            }
            if (repeat) {
              result[flag][1] = result[flag][1] + oneDon
            } else {
              result.push([asso, oneDon])
            }
          } else {
            result.push([asso, oneDon])
          }
          total = total + oneDon
        }
        for (var h = 0; h < result.length; h++) {
          result[h][1] = result[h][1] / total * 100
        }
        this.piedata.series[0].data = result
        this.drawChart()
      }
    },
    drawChart () {
      if (this.chart) {
        this.chart.destroy()
      }
      this.chart = new Highcharts.Chart('pie-chart', this.piedata)
    },
    fetchDonations () {
      this.error = this.post = null
      this.loading = true
      let _this = this
      fetch(constants.backend_url + 'donations', {
        headers: {
          'Authorization': 'Bearer ' + _this.$store.state.user.jwt
        }
      }).then(function (response) {
        _this.loading = false
        if (response.status !== 200) {
          _this.error = 'Erreur de chargement'
        }
        response.json().then(function (data) {
          _this.donations = data.donations
          _this.setData()
        })
      }).catch(function (err) {
        console.log('Fetch Error :-S', err)
        _this.error = err
        _this.loading = false
      })
    }
  }
}
</script>

<style scoped>
.board {
    text-align: center;
}

.board img {
    max-width: 8rem;
    max-height: 3rem;
}

.board .column {
    display: flex;
    padding: 0;
}

.board .column > * {
    margin: auto;
}
</style>
