<template>
    <div class="field">
        <label class="label">{{ donation.organization.name }}</label>
        <div class="control has-icons-right">
            <input class="input" type="number" :value="amount" @change="updateAmount">
            <span class="icon is-small is-right">
              <font-awesome-icon icon="euro-sign" />
            </span>
        </div>
    </div>
</template>

<script>
export default {
  name: 'OrganizationInput',
  props: ['donation'],
  data: function () {
    return {
      amount: this.donation.amount
    }
  },
  methods: {
    updateAmount (e) {
      let donation = this.donation
      this.amount = parseInt(e.target.value)
      donation.amount = this.amount
      this.$store.commit('setDonation', donation)
    }
  }
}
</script>

<style scoped>
</style>
